# endpoint service for random strings
RANDOM_SERVICE_ENDPOINT="https://www.random.org"
# database uri for django, if is not set, will use a default sqlite database
# DATABASE_URL="postgres://<dbuser>:<dbpassword>@<db_host>:5432/<db_database>"

# aws credentials for store the static files
# AWS_ACCESS_KEY="<aws_key>"
# AWS_SECRET="<aws_secret>"
# AWS_STORAGE_BUCKET_NAME="<s3_bucket_name>"

